body {
    margin: 50px;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

#todays-challenge { /* id selector */
    color: rgb(179, 96, 83);
    font-weight: bold;
    font-size: 52px;
}